@font-face {
	font-family: "TodoList"; /* Project id 3598856 */
	src: url("//at.alicdn.com/t/c/font_3598856_u2s7u1v5fw.woff2?t=1660881334611") format("woff2"),
		url("//at.alicdn.com/t/c/font_3598856_u2s7u1v5fw.woff?t=1660881334611") format("woff"),
		url("//at.alicdn.com/t/c/font_3598856_u2s7u1v5fw.ttf?t=1660881334611") format("truetype");
}

.TodoList {
	font-family: "TodoList" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-shanchu2:before {
	content: "\e600";
}
